<footer class="section bg-footer">
  <div class="container">
    <div class="row" style="padding-bottom: 2em">
      <div class="col-lg-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">
            EMPLOYEUR
          </h6>
          <ul class="list-unstyled footer-link mt-4">
            <li>
              <a href=""
                >Publier une annonce</a
              >
            </li>
            <li>
              <a href=""
                >Trouver un CV</a
              >
            </li>
            <li>
              <a
                href=""
                >Connexion</a
              >
            </li>

          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">SOCIAL MEDIA</h6>
          <ul class="list-unstyled footer-link mt-4">

            <li style="display: inline-block">
              <a href="" class="iconFA"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="display: inline-block">
              <a href="" class="iconFA"><i class="fab fa-youtube"></i></a>
            </li>
            <li style="display: inline-block">
              <a href="" class="iconFA"><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">CHERCHEUR D'EMPLOI</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li>
              <a href="">Trouver un emploi</a>
            </li>

            <li>
              <a href="">Trouver une formation</a>
            </li>

            <li>
              <a href="">Connexion</a>
            </li>



          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">CONTACT</h6>
          <p class="contact-info mt-4">racem triki</p>
          <p class="contact-info">trikiracem0@gmail.com</p>
          <p class="contact-info">+216 56493426</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="footer-alt mb-0 f-14">© 2021 racem triki</p>
  </div>
</footer>
