<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div>
          <h1 class="text-white" style="font-size: 55px">Bienvenue!</h1>
          <p class="text-white h3">
            notre site facilite la recherche d'emploi et donne la possibilité de publier
            une offre de travail .N'hesitez pas de s'identidier
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div style="width: 70%">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>S'identifier</small>
          </div>
          <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <div
                class="input-group input-group-alternative"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                <input
                  placeholder="E-mail"
                  type="email"
                  name="email"
                  formControlName="email"
                  class="form-control"
                  [(ngModel)]="email"
                />
              </div>
              <div *ngIf="submitted && f.email.errors" class="error">
                <div *ngIf="f.email.errors.required">L'email est requis</div>
                <div *ngIf="f.email.errors.email">
                  L'e-mail doit être une adresse email valide
                </div>
              </div>
            </div>
            <div class="form-group">
              <div
                class="input-group input-group-alternative"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  class="form-control"
                  [(ngModel)]="password"
                />
              </div>
              <div *ngIf="submitted && f.password.errors" class="error">
                <div *ngIf="f.password.errors.required">
                  Mot de passe requis
                </div>
                <div *ngIf="f.password.errors.minlength">
                  Le mot de passe doit être au moins de 6 caractères
                </div>
              </div>
            </div>

            <div
              class="custom-control custom-control-alternative custom-checkbox"
            >
              <input
                class="custom-control-input"
                id=" customCheckLogin"
                type="checkbox"
              />
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Souviens-toi de moi</span>
              </label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">
                S'identifier
              </button>
            </div>
          </form>
        </div>
      </div>
      <a
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        class="text-light"
        ><small>Créer un nouveau compte</small></a
      >
    </div>
  </div>
</div>
