<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Bienvenue {{ user.username }}</h1>
        <p class="text-white mt-0 mb-5">
          Ceci est votre page de profil. Vous pouvez voir les progrès que vous avez réalisés avec
          votre travail et gérer vos projets ou tâches assignées
        </p>
      </div>
    </div>
  </div>
</div>
<input type="file" (change)="fileChanged($event)" id="fakeBTN" hidden>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image pb-4" (click)="clickFakeBtn()">
                <img
                  [src]="fakesrc"
                  class="rounded-circle"
                />
            </div>
          </div>
        </div>

        <div class="card-body pt-10 pt-md-8">
          <div class="text-center">
            <h3>
              {{ user.username
              }}<span class="font-weight-light">, {{ user.age }}</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ user.city }},{{
                user.country
              }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{ user.bio }}
            </div>
            <div><i class="ni education_hat mr-2"></i>{{ user.education }}</div>
            <hr class="my-4" />
            <p>
              {{ user.aboutMe }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon compte</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">Informations de l'utilisateur</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username"
                    >Nom d'utilisateur</label
                  >
                  <input
                    type="text"
                    id="input-username"
                    class="form-control form-control-alternative"
                    placeholder="Nom d'utilisateur"
                    [(ngModel)]="user.username"
                    value="user"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-phone"
                    >Numéro de téléphone
                    </label
                  >
                  <input
                    type="number"
                    id="input-phone"
                    class="form-control form-control-alternative"
                    placeholder="+216 56493426"
                    [(ngModel)]="user.phoneNumber"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-age">Age</label>
                  <input
                    type="text"
                    id="input-age"
                    class="form-control form-control-alternative"
                    placeholder="28 ans"
                    [(ngModel)]="user.age"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Contact information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-address"
                    >Adresse</label
                  >
                  <input
                    id="input-address"
                    class="form-control form-control-alternative"
                    placeholder="Votre adresse"
                    [(ngModel)]="user.adress"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-city"
                    >Ville</label
                  >
                  <input
                    type="text"
                    id="input-city"
                    class="form-control form-control-alternative"
                    placeholder="Ville"
                    [(ngModel)]="user.city"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-country"
                    >Pays</label
                  >
                  <input
                    type="text"
                    id="input-country"
                    class="form-control form-control-alternative"
                    placeholder="Pays"
                    [(ngModel)]="user.country"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-country"
                    >Code postale</label
                  >
                  <input
                    type="number"
                    id="input-postal-code"
                    class="form-control form-control-alternative"
                    placeholder="Code postale"
                    [(ngModel)]="user.zip"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">À propos de moi</h6>
          <div class="pl-lg-4">
            <div class="form-group">
              <label>À propos de moi</label>
              <textarea
                rows="4"
                class="form-control form-control-alternative"
                placeholder="deux ou trois phrase a propos de toi"
                [(ngModel)]="user.aboutMe"
              ></textarea>
            </div>
          </div>
          <div class="pl-lg-4">
            <div class="form-group">
              <label>Bio</label>
              <textarea
                rows="4"
                class="form-control form-control-alternative"
                placeholder="Quelques mots clé sur vous..."
                [(ngModel)]="user.bio"
              ></textarea>
            </div>
          </div>
          <div class="row pl-lg-4">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-education"
                  >Éducation</label
                >
                <input
                  id="input-education"
                  class="form-control form-control-alternative"
                  placeholder="Éducation"
                  [(ngModel)]="user.education"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn btn-info"
        style="float: right; margin-top: 1em"
        (click)="updateProfile()"
      >
      Editer le profil
      </button>
    </div>
  </div>
</div>
