<p>
  <ngb-alert type="custom" [dismissible]="false"><strong>sorry</strong> mot de passe ou login incorrect.
  </ngb-alert>
  <ngb-alert type="custom" [dismissible]="false"><strong>sorry</strong> mot de passe ou login incorrect.
  </ngb-alert>
  <ngb-alert type="custom" [dismissible]="false"><strong>sorry</strong> mot de passe ou login incorrect.
  </ngb-alert>
  <ngb-alert type="custom" [dismissible]="false"><strong>sorry</strong> mot de passe ou login incorrect.
  </ngb-alert>
  <button>retour a login form</button> <button>s'inscrire</button>
</p>

